body{
    text-align: center;
}
#container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 860px;
    width: 860px;
    
}
.gridSquare {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid grey;
    box-sizing: border-box;
    margin:0;
}
button {
    padding: 10px;
    margin:10px 10px;
}
p {
    margin:0;
    font-size:20px;
}